In [2]:
import pandas as pd

In [3]:
flights=pd.read_csv('flights.csv', low_memory=False)

In [4]:
flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
YEAR                   int64
MONTH                  int64
DAY                    int64
DAY_OF_WEEK            int64
AIRLINE                object
FLIGHT_NUMBER          int64
TAIL_NUMBER            object
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE    int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE               int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL      int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED               int64
CANCELLED              int64
CANCELLATION_REASON    object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [14]:
flights["CANCELLED"].value_counts()

0    5729195
1      89884
Name: CANCELLED, dtype: int64

In [ ]:
#Peu de vols étaient annulés!

In [10]:
flights.describe()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [ ]:
#Création d'un ensemble de test

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
#train_set, test_set=train_test_split(flights, test_size=0.2, random_state=42) Here we risk introducing a sampling bias

In [ ]:
#Thus we use Stratified Shuffle Split to obtain a homogeneous sampling

In [7]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
#1)Split based on origin airport

In [11]:
split=StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(flights, flights["ORIGIN_AIRPORT"]):
    strat_test=flights.loc[test_index]
    strat_train=flights.loc[train_index]

In [22]:
flights["ORIGIN_AIRPORT"].value_counts()/len(flights["ORIGIN_AIRPORT"])

ATL      5.960325e-02
ORD      4.912874e-02
DFW      4.116648e-02
DEN      3.369176e-02
LAX      3.345426e-02
SFO      2.543495e-02
PHX      2.522994e-02
IAH      2.519677e-02
LAS      2.288696e-02
MSP      1.926714e-02
MCO      1.907209e-02
SEA      1.905783e-02
DTW      1.864556e-02
BOS      1.853335e-02
EWR      1.748937e-02
CLT      1.724053e-02
LGA      1.711697e-02
SLC      1.670539e-02
JFK      1.612128e-02
BWI      1.479255e-02
MDW      1.390014e-02
DCA      1.268139e-02
FLL      1.265217e-02
SAN      1.206497e-02
MIA      1.191615e-02
PHL      1.134561e-02
TPA      1.098215e-02
DAL      1.025918e-02
HOU      8.943340e-03
BNA      8.176552e-03
             ...
11617    9.451668e-06
12888    9.107971e-06
12343    9.107971e-06
12255    9.107971e-06
11525    9.107971e-06
12177    9.107971e-06
14109    9.107971e-06
10918    9.107971e-06
11587    9.107971e-06
10739    9.107971e-06
10333    9.107971e-06
13127    9.107971e-06
11447    8.420577e-06
13964    6.186546e-06
ITH      5.842849e-06
11097    5.327304e-06
10170    5.327304e-06
12016    5.327304e-06
10154    4.811758e-06
10581    4.639910e-06
13459    4.468061e-06
12265    3.780667e-06
12094    3.436970e-06
15497    2.405879e-06
14025    2.234031e-06
13541    1.890334e-06
10165    1.546637e-06
14222    1.546637e-06
13502    1.031091e-06
11503    6.873940e-07
Name: ORIGIN_AIRPORT, Length: 628, dtype: float64

In [59]:
faa_code=pd.read_csv("faa_code-Copy1.csv_", low_memory=False)
airports=pd.read_csv("airports.csv", low_memory=False)

In [60]:
faa_code.head()

    Code              City Country                  AIRPORT1
0  10001      Afognak Lake      AK      Afognak Lake Airport
1  10003  Granite Mountain      AK   Bear Creek Mining Strip
2  10004               Lik      AK           Lik Mining Camp
3  10005      Little Squaw      AK      Little Squaw Airport
4  10006          Kizhuyak      AK              Kizhuyak Bay

In [81]:
#Joining airports and faa_code to match each IATA code with its FAA code

In [86]:
iata_faa=pd.concat([airports, faa_code],axis=1,join='inner' ,sort=False)

In [85]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
YEAR                   int64
MONTH                  int64
DAY                    int64
DAY_OF_WEEK            int64
AIRLINE                object
FLIGHT_NUMBER          int64
TAIL_NUMBER            object
ORIGIN_AIRPORT         object
DESTINATION_AIRPORT    object
SCHEDULED_DEPARTURE    int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE               int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL      int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED               int64
CANCELLED              int64
CANCELLATION_REASON    object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [104]:
flights.merge(faa_code, left_on='ORIGIN_AIRPORT', right_on='Code', how='inner')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat