In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from random import randint
from numpy import array
pd.options.mode.chained_assignment = None

 #!/usr/bin/python
    import time
    import datetime
    import logging
    
    logger = logging.getLogger()
    
    def setup_file_logger(log_file):
        hdlr = logging.FileHandler(log_file)
        formatter = logging.Formatter('%(asctime)s %(levelname)s %(message)s')
        hdlr.setFormatter(formatter)
        logger.addHandler(hdlr) 
        logger.setLevel(logging.INFO)
    
    def log(message):
        #outputs to Jupyter console
        print('{} {}'.format(datetime.datetime.now(), message))
        #outputs to file
        logger.info(message)
    
    setup_file_logger('out.log')
    
    for i in range(10000):
        log('Doing hard work here i=' + str(i))
        log('Taking a nap now...')
        time.sleep(1000)

In [2]:
flights=pd.read_csv('flights.csv', low_memory=False)

In [ ]:
flights.head()

In [ ]:
flights.info()

In [ ]:
flights["CANCELLED"].value_counts()

In [ ]:
#Peu de vols étaient annulés!

In [ ]:
flights.describe()

In [ ]:
#Création d'un ensemble de test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:

#Séparation aléatoire de la base de données en base d'apprentissage (80% de la bdd) et en base de test(20% de la bdd)
from sklearn.model_selection import train_test_split
base_apprentissage, base_test = train_test_split(flights, test_size=0.2, random_state=42)

In [ ]:
flights["ORIGIN_AIRPORT"].value_counts()/len(flights["ORIGIN_AIRPORT"])

In [ ]:
flights.info()

In [22]:
faa_code=pd.read_csv("faa_code.csv", low_memory=False).loc[:,["Code","AIRPORT"]]
airports=pd.read_csv("airports.csv", low_memory=False).loc[:,["IATA_CODE","AIRPORT"]]

In [23]:
faa_code.head()

    Code                  AIRPORT
0  10001             Afognak Lake
1  10003  Bear Creek Mining Strip
2  10004          Lik Mining Camp
3  10005             Little Squaw
4  10006             Kizhuyak Bay

In [24]:
#Résoudre le problème de correspondance entre le code faa et le code iata

In [25]:
#Les deux colonnes AIRPORT sont de type object dans les deux DataFrame
airports['AIRPORT'] = airports['AIRPORT'].values.astype(str)
faa_code['AIRPORT'] = faa_code['AIRPORT'].values.astype(str)

In [26]:
#Le tableau de correspondance entre les deux types de code d'aereports
iata_faa = airports.set_index('AIRPORT').join(faa_code.set_index('AIRPORT'),on='AIRPORT',how='inner')
iata_faa.head()

                                  IATA_CODE   Code
AIRPORT
Lehigh Valley International             ABE  10135
Abilene Regional                        ABI  10136
Albuquerque International Sunport       ABQ  10140
Aberdeen Regional                       ABR  10141
Southwest Georgia Regional              ABY  10146

In [27]:
code2iata = iata_faa.reset_index().drop('AIRPORT',axis=1).set_index('Code').to_dict()['IATA_CODE']

In [28]:
str_keys = list(map(lambda x : str(x) , code2iata.keys()))

In [29]:
str_code2iata = dict(zip(list(str_keys), list(code2iata.values())))

In [30]:
str_code2iata['14747']

'SEA'

In [31]:
#flights[flights['ORIGIN_AIRPORT']].head() #isnumeric()
flights[flights['ORIGIN_AIRPORT'].str.isnumeric()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4385747,2015,10,1,4,UA,1162,N73259,10732,EWR,208,...,554.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385752,2015,10,1,4,EV,2704,N905EV,11982,DFW,500,...,533.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385753,2015,10,1,4,HA,102,N485HA,12173,ITO,500,...,547.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385761,2015,10,1,4,AA,1044,N014AA,12266,MIA,500,...,857.0,34.0,0,0,NaN,26.0,0.0,8.0,0.0,0.0
4385764,2015,10,1,4,AA,1500,N3MEAA,10721,ORD,500,...,646.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385765,2015,10,1,4,AA,1583,N3LBAA,10721,DFW,500,...,757.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385766,2015,10,1,4,AA,2274,N3HUAA,13487,DFW,500,...,735.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385769,2015,10,1,4,AA,1852,N711UW,10721,CLT,500,...,708.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385770,2015,10,1,4,AA,2454,N3KNAA,10721,MIA,500,...,822.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385779,2015,10,1,4,MQ,3336,N537MQ,12191,DFW,500,...,605.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385780,2015,10,1,4,MQ,3659,N639MQ,14783,DFW,500,...,607.0,-27.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385781,2015,10,1,4,OO,6295,N967SW,15016,ORD,500,...,614.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385782,2015,10,1,4,HA,108,N478HA,12173,12758,501,...,539.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385785,2015,10,1,4,HA,206,N490HA,12173,OGG,505,...,535.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385786,2015,10,1,4,AA,1102,N469AA,10423,DFW,505,...,549.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385787,2015,10,1,4,AA,1652,N4XGAA,15016,ORD,505,...,631.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385802,2015,10,1,4,MQ,3563,N697MQ,14842,DFW,513,...,600.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385804,2015,10,1,4,EV,3266,N14573,11775,ORD,514,...,644.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385805,2015,10,1,4,HA,103,N492HA,12173,LIH,514,...,549.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385808,2015,10,1,4,WN,3030,N359SW,10721,BNA,515,...,702.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385815,2015,10,1,4,AA,1910,N154UW,13487,CLT,515,...,853.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385816,2015,10,1,4,AA,2011,N700UW,10821,CLT,515,...,644.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385819,2015,10,1,4,DL,2626,N982AT,11775,13487,515,...,603.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385820,2015,10,1,4,MQ,3037,N609MQ,11049,DFW,515,...,604.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385821,2015,10,1,4,OO,2920,N498CA,10990,ORD,515,...,558.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385824,2015,10,1,4,OO,5165,N780SK,13158,12266,515,...,627.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385825,2015,10,1,4,OO,5222,N952SW,14108,ORD,515,...,627.0,20.0,0,0,NaN,20.0,0.0,0.0,0.0,0.0
4385829,2015,10,1,4,UA,341,N453UA,13487,ORD,519,...,632.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385834,2015,10,1,4,AA,1709,N171US,12266,CLT,520,...,903.0,18.0,0,0,NaN,0.0,0.0,18.0,0.0,0.0
4385837,2015,10,1,4,DL,1991,N671DN,13487,10397,520,...,840.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871681,2015,10,31,6,DL,2432,N983DL,10397,RIC,2212,...,2319.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871682,2015,10,31,6,DL,2449,N128DL,10397,LAS,2212,...,2326.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871683,2015,10,31,6,DL,2491,N904DL,10397,14730,2212,...,2333.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871684,2015,10,31,6,DL,2116,N751AT,12758,LAX,2213,...,836.0,182.0,0,0,NaN,0.0,0.0,182.0,0.0,0.0
4871685,2015,10,31,6,DL,1753,N972AT,10397,15323,2214,...,2323.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871688,2015,10,31,6,DL,2416,N918DE,10397,TLH,2215,...,2316.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871689,2015,10,31,6,DL,699,N990AT,10397,10208,2215,...,2258.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871690,2015,10,31,6,DL,1835,N810DN,10397,SLC,2215,...,6.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871691,2015,10,31,6,EV,5022,N846AS,10397,ILM,2215,...,2317.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871695,2015,10,31,6,DL,2518,N948DL,10397,15624,2216,...,2225.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871696,2015,10,31,6,DL,2095,N328NW,10397,ORF,2216,...,2343.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871697,2015,10,31,6,EV,4908,N719EV,10397,GNV,2216,...,2322.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871698,2015,10,31,6,EV,4889,N848AS,10397,MGM,2218,...,2205.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871699,2015,10,31,6,DL,2388,N679DA,10397,IND,2219,...,2344.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871701,2015,10,31,6,DL,1571,N368NB,10397,12217,2220,...,2305.0,49.0,0,0,NaN,0.0,0.0,49.0,0.0,0.0
4871710,2015,10,31,6,AA,298,N859AA,12173,LAX,2223,...,516.0,-46.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871711,2015,10,31,6,DL,2542,N907DE,10397,12448,2224,...,2246.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871712,2015,10,31,6,DL,1236,N584NW,12173,SEA,2225,...,542.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871714,2015,10,31,6,DL,769,N915DL,10397,MKE,2225,...,2316.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871716,2015,10,31,6,AS,852,N585AS,12173,SEA,2225,...,618.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871717,2015,10,31,6,B6,168,N623JB,13796,JFK,2225,...,514.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871734,2015,10,31,6,B6,1853,N775JB,11697,14843,2235,...,59.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871740,2015,10,31,6,DL,1426,N939DN,10397,15016,2240,...,2310.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871743,2015,10,31,6,HA,8,N382HA,12173,LAS,2240,...,613.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871769,2015,10,31,6,UA,235,N38443,12173,SFO,2250,...,635.0,27.0,0,0,NaN,0.0,0.0,27.0,0.0,0.0
4871770,2015,10,31,6,UA,1229,N14230,12173,LAX,2250,...,545.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871811,2015,10,31,6,AA,655,N207UW,12173,PHX,2315,...,751.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871823,2015,10,31,6,AA,246,N864AA,12758,LAX,2325,...,626.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871839,2015,10,31,6,AA,661,N901AW,12758,PHX,2345,...,808.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871843,2015,10,31,6,AA,675,N908AW,12173,PHX,2350,...,825.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
flights.iloc[4385713].replace(str_code2iata)['ORIGIN_AIRPORT']

'SFO'

In [ ]:
code2iata

In [ ]:
#flights[.replace(str_code2iata)

In [32]:
# Make sure all Origin and departing airports are strings
flights['ORIGIN_AIRPORT'] = flights['ORIGIN_AIRPORT'].values.astype(str)
flights['DESTINATION_AIRPORT'] = flights['DESTINATION_AIRPORT'].values.astype(str)

In [33]:
flights[flights['ORIGIN_AIRPORT'].str.isnumeric()]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4385747,2015,10,1,4,UA,1162,N73259,10732,EWR,208,...,554.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385752,2015,10,1,4,EV,2704,N905EV,11982,DFW,500,...,533.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385753,2015,10,1,4,HA,102,N485HA,12173,ITO,500,...,547.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385761,2015,10,1,4,AA,1044,N014AA,12266,MIA,500,...,857.0,34.0,0,0,NaN,26.0,0.0,8.0,0.0,0.0
4385764,2015,10,1,4,AA,1500,N3MEAA,10721,ORD,500,...,646.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385765,2015,10,1,4,AA,1583,N3LBAA,10721,DFW,500,...,757.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385766,2015,10,1,4,AA,2274,N3HUAA,13487,DFW,500,...,735.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385769,2015,10,1,4,AA,1852,N711UW,10721,CLT,500,...,708.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385770,2015,10,1,4,AA,2454,N3KNAA,10721,MIA,500,...,822.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385779,2015,10,1,4,MQ,3336,N537MQ,12191,DFW,500,...,605.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385780,2015,10,1,4,MQ,3659,N639MQ,14783,DFW,500,...,607.0,-27.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385781,2015,10,1,4,OO,6295,N967SW,15016,ORD,500,...,614.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385782,2015,10,1,4,HA,108,N478HA,12173,12758,501,...,539.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385785,2015,10,1,4,HA,206,N490HA,12173,OGG,505,...,535.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385786,2015,10,1,4,AA,1102,N469AA,10423,DFW,505,...,549.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385787,2015,10,1,4,AA,1652,N4XGAA,15016,ORD,505,...,631.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385802,2015,10,1,4,MQ,3563,N697MQ,14842,DFW,513,...,600.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385804,2015,10,1,4,EV,3266,N14573,11775,ORD,514,...,644.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385805,2015,10,1,4,HA,103,N492HA,12173,LIH,514,...,549.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385808,2015,10,1,4,WN,3030,N359SW,10721,BNA,515,...,702.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385815,2015,10,1,4,AA,1910,N154UW,13487,CLT,515,...,853.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385816,2015,10,1,4,AA,2011,N700UW,10821,CLT,515,...,644.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385819,2015,10,1,4,DL,2626,N982AT,11775,13487,515,...,603.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385820,2015,10,1,4,MQ,3037,N609MQ,11049,DFW,515,...,604.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385821,2015,10,1,4,OO,2920,N498CA,10990,ORD,515,...,558.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385824,2015,10,1,4,OO,5165,N780SK,13158,12266,515,...,627.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385825,2015,10,1,4,OO,5222,N952SW,14108,ORD,515,...,627.0,20.0,0,0,NaN,20.0,0.0,0.0,0.0,0.0
4385829,2015,10,1,4,UA,341,N453UA,13487,ORD,519,...,632.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4385834,2015,10,1,4,AA,1709,N171US,12266,CLT,520,...,903.0,18.0,0,0,NaN,0.0,0.0,18.0,0.0,0.0
4385837,2015,10,1,4,DL,1991,N671DN,13487,10397,520,...,840.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4871681,2015,10,31,6,DL,2432,N983DL,10397,RIC,2212,...,2319.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871682,2015,10,31,6,DL,2449,N128DL,10397,LAS,2212,...,2326.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871683,2015,10,31,6,DL,2491,N904DL,10397,14730,2212,...,2333.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871684,2015,10,31,6,DL,2116,N751AT,12758,LAX,2213,...,836.0,182.0,0,0,NaN,0.0,0.0,182.0,0.0,0.0
4871685,2015,10,31,6,DL,1753,N972AT,10397,15323,2214,...,2323.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871688,2015,10,31,6,DL,2416,N918DE,10397,TLH,2215,...,2316.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871689,2015,10,31,6,DL,699,N990AT,10397,10208,2215,...,2258.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871690,2015,10,31,6,DL,1835,N810DN,10397,SLC,2215,...,6.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871691,2015,10,31,6,EV,5022,N846AS,10397,ILM,2215,...,2317.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871695,2015,10,31,6,DL,2518,N948DL,10397,15624,2216,...,2225.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871696,2015,10,31,6,DL,2095,N328NW,10397,ORF,2216,...,2343.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871697,2015,10,31,6,EV,4908,N719EV,10397,GNV,2216,...,2322.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871698,2015,10,31,6,EV,4889,N848AS,10397,MGM,2218,...,2205.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871699,2015,10,31,6,DL,2388,N679DA,10397,IND,2219,...,2344.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871701,2015,10,31,6,DL,1571,N368NB,10397,12217,2220,...,2305.0,49.0,0,0,NaN,0.0,0.0,49.0,0.0,0.0
4871710,2015,10,31,6,AA,298,N859AA,12173,LAX,2223,...,516.0,-46.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871711,2015,10,31,6,DL,2542,N907DE,10397,12448,2224,...,2246.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871712,2015,10,31,6,DL,1236,N584NW,12173,SEA,2225,...,542.0,-24.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871714,2015,10,31,6,DL,769,N915DL,10397,MKE,2225,...,2316.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871716,2015,10,31,6,AS,852,N585AS,12173,SEA,2225,...,618.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871717,2015,10,31,6,B6,168,N623JB,13796,JFK,2225,...,514.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871734,2015,10,31,6,B6,1853,N775JB,11697,14843,2235,...,59.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871740,2015,10,31,6,DL,1426,N939DN,10397,15016,2240,...,2310.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871743,2015,10,31,6,HA,8,N382HA,12173,LAS,2240,...,613.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871769,2015,10,31,6,UA,235,N38443,12173,SFO,2250,...,635.0,27.0,0,0,NaN,0.0,0.0,27.0,0.0,0.0
4871770,2015,10,31,6,UA,1229,N14230,12173,LAX,2250,...,545.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871811,2015,10,31,6,AA,655,N207UW,12173,PHX,2315,...,751.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871823,2015,10,31,6,AA,246,N864AA,12758,LAX,2325,...,626.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871839,2015,10,31,6,AA,661,N901AW,12758,PHX,2345,...,808.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4871843,2015,10,31,6,AA,675,N908AW,12173,PHX,2350,...,825.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#flights['ORIGIN_AIRPORT'] = flights['ORIGIN_AIRPORT'].replace(str_code2iata)
flights[flights['ORIGIN_AIRPORT'].str.isnumeric()]=flights[flights['ORIGIN_AIRPORT'].str.isnumeric()].replace(str_code2iata)

In [35]:
flights["ORIGIN_AIRPORT"].value_counts()/len(flights["ORIGIN_AIRPORT"])

ATL      0.065203
ORD      0.053881
DFW      0.044783
DEN      0.036808
LAX      0.036501
SFO      0.027870
PHX      0.027450
IAH      0.025197
LAS      0.025067
SEA      0.020843
MCO      0.020627
MSP      0.019267
EWR      0.019143
CLT      0.018885
DTW      0.018646
BOS      0.018533
SLC      0.018211
JFK      0.017548
LGA      0.017117
MDW      0.015209
BWI      0.014793
DCA      0.013853
FLL      0.013651
SAN      0.013132
MIA      0.012940
PHL      0.012393
TPA      0.011866
DAL      0.011278
BNA      0.008946
HOU      0.008943
           ...
MMH      0.000027
11641    0.000026
14842    0.000026
11122    0.000024
14960    0.000021
10157    0.000021
11150    0.000019
13795    0.000019
PPG      0.000018
ADK      0.000018
ILG      0.000017
10732    0.000016
15401    0.000015
15389    0.000015
13241    0.000014
STC      0.000014
HYA      0.000014
GST      0.000013
DLG      0.000013
AKN      0.000011
14256    0.000011
14905    0.000011
10926    0.000011
10577    0.000011
11315    0.000010
10372    0.000010
15048    0.000010
11577    0.000010
ITH      0.000006
14222    0.000002
Name: ORIGIN_AIRPORT, Length: 387, dtype: float64

In [37]:
flights.to_csv("flights2.csv")

In [38]:
flights2=pd.read_csv('flights2.csv', low_memory=False)

In [39]:
flights2.drop("",)

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,2015,1,1,4,AS,98,N407AS,ANC,SEA,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2015,1,1,4,US,840,N171US,SFO,CLT,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2015,1,1,4,AS,135,N527AS,SEA,ANC,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
flights['ORIGIN_AIRPORT'][2]

In [ ]:
 iata_faa.loc[iata_faa['Code']==flights_tester['ORIGIN_AIRPORT'][2]]

In [ ]:
flights_tester = flights[flights['MONTH'] == 2]

In [ ]:
flights_tester.head()

In [ ]:
nbr_flights= len(flights)
for i in range(nbr_flights):
    
    if len(flights['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = flights['ORIGIN_AIRPORT'][i]
        value = iata_faa.loc[iata_faa['Code']==flights['ORIGIN_AIRPORT'][i]]['IATA_CODE']
        flights = flights.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(flights['DESTINATION_AIRPORT'][i]) != 3:
        to_replace =flights['DESTINATION_AIRPORT'][i]
        value = iata_faa.loc[iata_faa['Code']==flights['DESTINATION_AIRPORT'][i]]['IATA_CODE']
        flights = flights.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

In [ ]:
nbr_flights = len(flights)
n = len(iata_faa)-1
for i in range(nbr_flights):
    if len(flights['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = flights['ORIGIN_AIRPORT'][i]
        j = 0
        while ((j<n)&(to_replace!=iata_faa.loc[j,"Code"])):
            j+=1
        if (j<n):
            value = iata_faa.loc[j,"IATA_CODE"]
            flights = flights.replace(to_replace, value)
            print('replaced',to_replace,'with',value)
        else:
            print('not replaced')
    
    if len(flights['DESTINATION_AIRPORT'][i]) != 3:
        to_replace =flights['DESTINATION_AIRPORT'][i]
        j = 0
        while ((j<n)&(to_replace!=iata_faa.loc[j,"Code"])):
            j+=1
        if (j<n):
            value = iata_faa.loc[j,"IATA_CODE"]
            flights = flights.replace(to_replace, value)
            print('replaced',to_replace,'with',value)
        else:
            print('not replaced')

In [ ]:
nbr_flights = len(flights)
for i in range(nbr_flights):
    
    if len(flights['ORIGIN_AIRPORT'][i]) != 3:
        to_replace = flights['ORIGIN_AIRPORT'][i]
        value = iata_faa.loc[iata_faa['IATA_CODE']==flights['ORIGIN_AIRPORT'][i]]['IATA_CODE']
        flights = flights.replace(to_replace, value)
        print('replaced',to_replace,'with',value)
    elif len(flights['DESTINATION_AIRPORT'][i]) != 3:
        to_replace =flights['DESTINATION_AIRPORT'][i]
        value = iata_faa.loc[iata_faa['IATA_CODE']==flights['DESTINATION_AIRPORT'][i]]['IATA_CODE']
        flights = flights.replace(to_replace, value)
        print('replaced',to_replace,'with',value)

In [ ]:
flights["ORIGIN_AIRPORT"].value_counts()/len(flights["ORIGIN_AIRPORT"])

In [ ]:
#Nombre de retards au départ par aéroports d'origine
flights[(flights["DEPARTURE_DELAY"] > 0)]["ORIGIN_AIRPORT"].value_counts()

In [ ]:
#Nombre de retards au départ par compagnie aérienne
Retards_compagnies = flights[(flights["DEPARTURE_DELAY"] > 0)]["AIRLINE"].value_counts()
print(Retards_compagnies)

In [ ]:
#Calcul du retard maximum pour chaque compagnie
Data = flights[(flights["DEPARTURE_DELAY"] > 0)][["AIRLINE","DEPARTURE_DELAY"]]
n = len(Data)
Liste = Retards_compagnies.index.tolist()
Liste
n_liste = len(Liste)
Liste_max = n_liste*[0]

for i in range(0,n):
    j=0
    while (j<n_liste)&(Data.iloc[i,0]!=Liste[j]):
        j+=1
    if (Data.iloc[i,1]>Liste_max[j]):
        Liste_max[j]=Data.iloc[i,1]

In [ ]:
(Liste,Liste_max)

In [ ]:
Compagnies = flights[(flights["DEPARTURE_DELAY"] > 0)]["AIRLINE"].index.tolist()

z=flights[(flights["DEPARTURE_DELAY"] > 0)]["AIRLINE"].value_counts()
base_list = z.index.tolist()

data = [
    go.Heatmap(
        z=z,
        x=base_list,
        y=Compagnies,
        colorscale='Viridis',
    )
]

layout = go.Layout(
    title='GitHub commits per day',
    xaxis = dict(ticks='', nticks=36),
    yaxis = dict(ticks='' )
)

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='datetime-heatmap')

In [ ]:
#Nombre de retards au départ par mois
Retard_mois = flights[(flights["DEPARTURE_DELAY"] > 0)]["MONTH"].value_counts()
print(Retard_mois)
plt.hist(flights[(flights["DEPARTURE_DELAY"] > 0)]["MONTH"],bins=23,histtype='barstacked')
#plt.pie(Retard_mois,labels = Retard_mois.index.tolist(),autopct='%1.1f%%')
plt.title("Nombre de retards au départ selon le mois")
plt.show()

In [ ]:
#A comparer au nombre de vols par mois
Vols_mois = flights["MONTH"].value_counts()
print(Vols_mois)
plt.hist(flights["MONTH"],bins=23,histtype='barstacked')
#plt.pie(Retard_mois,labels = Retard_mois.index.tolist(),autopct='%1.1f%%')
plt.title("Nombre de vols selon le mois")
plt.show()

In [ ]:
#Nombre de retards au départ par jour de la semaine
Retard_jour = flights[(flights["DEPARTURE_DELAY"] > 0)]["DAY_OF_WEEK"].value_counts()
print(Retard_jour)
#plt.pie(Retard_jour,labels = Retard_jour.index.tolist(),autopct='%1.1f%%',)
plt.hist(flights[(flights["DEPARTURE_DELAY"] > 0)]["DAY_OF_WEEK"],bins=13,histtype='bar')
plt.title("Nombre de retards au départ selon le jour de la semaine")
plt.show()

In [ ]:
#A comparer au nombre de vols par jour de la semaine
Vols_jour = flights["DAY_OF_WEEK"].value_counts()
print(Vols_jour)
plt.hist(flights["DAY_OF_WEEK"],bins=13,histtype='bar')
plt.title("Nombre de vols selon le jour de la semaine")
plt.show()

In [ ]:
#Proportion de retards en fonction de l'heure de départ
P_Retard_jour = flights[(flights["DEPARTURE_DELAY"] > 0)]["DAY_OF_WEEK"].value_counts()
print(P_Retard_jour/flights["DAY_OF_WEEK"].value_counts())
plt.hist(P_Retard_jour/flights["DAY_OF_WEEK"].value_counts(),bins=13,histtype='bar')
plt.title("Nombre de retards au départ selon le jour de la semaine")
plt.show()

In [ ]:
#Nombre de retards au départ en fonction de la distance
Retard_distance = flights[(flights["DEPARTURE_DELAY"] > 0)]["DISTANCE"]
Retard_temps_vol = flights[(flights["DEPARTURE_DELAY"] > 0)]["SCHEDULED_TIME"]
plt.subplot(1,2,1)
plt.hist(Retard_distance,bins=100,histtype='bar')
plt.xlabel("Distance en km")
plt.ylabel("Nombre de retards")
plt.subplot(1,2,2)
plt.hist(Retard_temps_vol,bins=100)
plt.xlabel("Durée de vol prévue en min")
plt.ylabel("Nombre de retards")
plt.show()

In [ ]:
#Nombre de retards au départ en fonction de l'heure de départ
Retards_heure_depart = flights[(flights["DEPARTURE_DELAY"] > 0)]["SCHEDULED_DEPARTURE"]
plt.hist(Retards_heure_depart,bins=100,histtype='bar')
plt.xlabel("Heures de départ")
plt.ylabel("Nombre de retards")
plt.show()

In [ ]:
#A comparer avec le nombre de vols en fonction de l'heure de départ
Vols_heure_depart = flights["SCHEDULED_DEPARTURE"]
plt.hist(Vols_heure_depart,bins=100,histtype='bar')
plt.xlabel("Heures de départ")
plt.ylabel("Nombre de vols")
plt.show()